.table th .sortable {
	cursor: pointer;
}

.table th .sortable.sort:before {
	margin-left: 3.5px;
	content: "\2191";
	opacity: 0.4;
}

.table th .sortable.sort:after {
	content: "\2193";
	opacity: 0.4;
}

.table th .sortable.sort-asc:before {
	margin-left: 3.5px;
	content: "\2191";
}

.table th .sortable.sort-asc:after {
	content: "\2193";
	opacity: 0.4;
}

.table th .sortable.sort-desc:before {
	margin-left: 3.5px;
	content: "\2191";
	opacity: 0.4;
}

.table th .sortable.sort-desc:after {
	content: "\2193";
}
