.loader-wrapper {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.loader-wrapper .text {

}

.timer-loader-custom {
	-moz-border-radius: 48px !important;
	-webkit-border-radius: 48px !important;
	border-radius: 48px !important;
	width: 96px !important;
	height: 96px !important;
}

.timer-loader-custom::before {
	-moz-transform-origin: 6px 6px !important;
	-ms-transform-origin: 6px 6px !important;
	-webkit-transform-origin: 6px 6px !important;
	transform-origin: 6px 6px !important;
	-moz-border-radius: 6px !important;
	-webkit-border-radius: 6px !important;
	border-radius: 6px !important;
	width: 12px !important;
	height: 38.4px !important;
	left: 36px !important;
	top: 36px !important;
}

.timer-loader-custom::after {
	-moz-transform-origin: 6px 6px !important;
	-ms-transform-origin: 6px 6px !important;
	-webkit-transform-origin: 6px 6px !important;
	transform-origin: 6px 6px !important;
	-moz-border-radius: 6px !important;
	-webkit-border-radius: 6px !important;
	border-radius: 6px !important;
	width: 12px !important;
	height: 32px !important;
	left: 36px !important;
	top: 36px !important;
}

/* Source: https://github.com/jlong/css-spinners */

@-moz-keyframes timer-loader {
	0% {
		-moz-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	100% {
		-moz-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}
@-webkit-keyframes timer-loader {
	0% {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}
@keyframes timer-loader {
	0% {
		-moz-transform: rotate(0deg);
		-ms-transform: rotate(0deg);
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	100% {
		-moz-transform: rotate(360deg);
		-ms-transform: rotate(360deg);
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}
/* :not(:required) hides this rule from IE9 and below */
.timer-loader:not(:required) {
	border: 6px solid #c8d;
	-moz-border-radius: 24px;
	-webkit-border-radius: 24px;
	border-radius: 24px;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	display: inline-block;
	overflow: hidden;
	position: relative;
	text-indent: -9999px;
	width: 48px;
	height: 48px;
}
.timer-loader:not(:required)::before {
	-moz-animation: timer-loader 2500ms infinite linear;
	-webkit-animation: timer-loader 2500ms infinite linear;
	animation: timer-loader 2500ms infinite linear;
	-moz-transform-origin: 3px 3px;
	-ms-transform-origin: 3px 3px;
	-webkit-transform-origin: 3px 3px;
	transform-origin: 3px 3px;
	background: #c8d;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	content: '';
	display: block;
	position: absolute;
	width: 6px;
	height: 19.2px;
	left: 15px;
	top: 15px;
}
.timer-loader:not(:required)::after {
	-moz-animation: timer-loader 15000ms infinite linear;
	-webkit-animation: timer-loader 15000ms infinite linear;
	animation: timer-loader 15000ms infinite linear;
	-moz-transform-origin: 3px 3px;
	-ms-transform-origin: 3px 3px;
	-webkit-transform-origin: 3px 3px;
	transform-origin: 3px 3px;
	background: #c8d;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	content: '';
	display: block;
	position: absolute;
	width: 6px;
	height: 16px;
	left: 15px;
	top: 15px;
}
